.jumbotron {
  background-color: #00cec9;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10 px 0 10px;
  background-color: #00cec9;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-prod {
  flex: 1 150px;
  padding: 5px 5px 5px 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-prod {
  width: 100%;
}
.tab-content {
  padding-top: 10px;
}
