$mainColor:#00cec9;
@mixin margin($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;  
}
.jumbotron {
  background-color: $mainColor;
  color: black;
  @include margin(50px, 0)
}

footer {
  padding: 10px 10 px 0 10px;
  background-color: $mainColor;
  @include margin(10px, 0)
}

.card-prod {
  flex: 1 150px;
  padding: 5px 5px 5px 5px;
}

.btn-prod {
  width: 100%;
}

.tab-content {
  padding-top: 10px;
}