@yellow: #00cec9;
.margin(@top:0px, @bottom:0px) {
  margin-top: @top;
  margin-bottom: @bottom;  
}

.jumbotron {
  background-color: @yellow;
  color: black;
  .margin(50px, 0px);
}

footer {
  padding: 10px 10 px 0 10px;
  background-color: @yellow;
  .margin(10px, 0px);
}

.card-prod {
  flex: 1 150px;
  padding: 5px 5px 5px 5px;
  .margin(10px, 0px);
}

.btn-prod {
  width: 100%;
}

.tab-content {
  padding-top: 10px;
}